.letter-form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
.letter-button {
  transform: translate(0px, -44px);
  height: 100px;
  padding: 40px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #000000;
  color: #ffffff;
  text-transform: capitalize;
}

textarea {
  width: 500px;
  height: 100px;
  resize: none;
  border-radius: 10px;
}
